.formsControl.error input,
.formsControl.error textarea {
	border: 2px solid red;
}

.formsControl.error span {
	color: red;
}

.formSummaryError {
	border: 1px solid #000;
	padding: 5px;
	color: red;
}