.header {
	grid-area: header;
	background-color: green;
}

.logo {
	display: inline-block;
	width: 50px;
	height: auto;
}

.loginBlock {
	float: right;
}
.loginBlock a {
	color: white;
	text-decoration: none;
}