.app-wrapper {
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-template-areas: 'header header' 'nav content';

	max-width: 1200px;
	margin: 0 auto;
}

.app-wrapper-content {
	grid-area: content;
	background-color: lightgray;
}